@import "../../../styles/root.module.scss";
.burger {
    display:none;
}



@media screen and (max-width: 775px) {
    .burger {
        @include flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-column: 12;
        cursor: pointer;
    }
    
    .burger:before {
      content: "\2630";
      font-size:25px;
      color: $red;
    }

  }